.header{
        padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-align: right;
}




.major{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(65, 65, 65);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 10%;
    
}

a{
    text-decoration: underline;
    color: rgb(58, 58, 58);
}

.links{
    padding-top: 1%;
font-size: 1.2em;
width: 65vw;
}


a:hover{
    color:tomato;
   
    font-weight: bold;
}