*{
    background-color: rgb(127,214,201);
   }

   html,
   body {
     height: 100%;
   }

   .navbar{
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 40%;
    position: absolute;
    top:5%;
    left: 3%;
     }

    .nav{
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;}
    
     
     .major{
        position:absolute;
        bottom:5%; 
        display: flex;
        align-items:flex-end;
        justify-content:space-between;
    }

       
    .text{
        width:50%;
        color: rgb(219,74,29);
        display: flex;
        flex-direction:column;
        position: relative;
        top:30%;
        left:5%;
    }



    .title{font-family:kaiti,cursive;
            font-size:12vh;
            padding-bottom: 5vh;
            margin:0%
    }   

    .subtitle{
        font-size: 3vh;
        line-height:1em;
        font-style: italic;
    }
    
   .ent{
    font-size: 3vh;
    display: flex;
    flex-direction:column;
    margin: 2em,2em;
    text-decoration: none;
    color: rgb(219,74,29);
    line-height: 4vh;
   }
   .picture{
    width: auto;
    height: 80vh;
    object-fit: contain;
    justify-content: flex-end;
    padding-right: 5vw;
    }
   
    
   

   